*swo
learner*.lsf
server*.lsf
*swn
*swp
*save*
*pyc
*log
*pys
*.o
*.e
blog_data_dist.txt
SampleResults
MultiRs*
logs
openImg_size.txt
openImgFull_size.txt
pymp*
learn*.lsf
server*.lsf
vms
jobinfo
quotas
./data/*
./scripts/logs/*
data/
temp_2_google_speech_random_none_all_test_logging
